.button-more {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: rgba(var(--orange));
  line-height: 1.625rem;
  font-weight: 500;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

  &__icon {
    height: 1rem;
    margin-left: 0.5rem;
  }

  &:hover {
    color: rgba(var(--orange-300));
  }
}
